extends layout

block content  
  .card.border-info.mb-3
    .card-header
      a(href=baseURL)
        span.h4 #{boardConfig.name} 
        |게시
        span.h4 팟 
    .card-body.text-info
      //- h5.card-title Info card title
      p.card-text #{boardConfig.detail}
  //- 잼쓰기
  button.btn.btn-sm.btn-primary(id='createPost' data-baseURL=baseURL value=user onclick='createPost()') 잼쓰기
  hr
  //- 베스트 게시물
  include bestPost.pug
  //- 게시글 리스트
  table.table.table-hover.table-sm(style='font-size: 12px')
    tbody
      each val in data.docs
        tr(onclick='tableRow('+ val.postNumber + ',"' + baseURL + '")' style="cursor: pointer;" data-baseURL=baseURL)
          //- 썸네일
          th.align-middle.text-center(style="width: 60px")
            if(val.uploadFiles[0])
              .text-center
              img.border(style="width:50px; height: 50px;" src=val.uploadFiles[0].thumbnailURL alt="" )
            else
              =val.postNumber
          td.align-middle
            //- 제목
            .row
              .col-md-6.align-self-center(style='font-size: 16px; white-space: pre-wrap;')
                =val.title
              .col-md-3.align-self-center
                //- 닉네임
                i.fas.fa-user-edit
                =' '
                span.user #{val.user.nickname}
                =' '
                //- 시간
                i.far.fa-clock
                =' ' 
                |#{moment(val.createTime).fromNow()}
              .col-md-3.align-self-center
                //- 추천 아이콘
                i.far.fa-thumbs-up
                =' '
                span.text-danger #{val.like} 
                =' '
                //- 반대 아이콘
                i.far.fa-thumbs-down 
                =' '
                span.text-primary #{val.disLike}
                =' '
                //- 조회수 아이콘
                i.far.fa-eye
                =' '
                |#{val.hits}
                =' '
                //- 댓글 아이콘
                i.far.fa-comment
                =' '
                |#{val.comments.length + countReply(val.comments)}
  //- 페이지네이션
  nav(aria-label="Page navigation example")
    ul.pagination.justify-content-center
      //- 이전 버튼
      if data.hasPrevPage
        li.page-item
          a.page-link(href=baseURL+"?page="+data.prevPage aria-label="Previous")
            span(aria-hidden="true") Prev
      else
        li.page-item.disabled
          a.page-link(href=baseURL+"?page="+data.prevPage aria-label="Previous")
            span(aria-hidden="true") Prev
      //- 페이지 번호
      li.page-item
        .input-group
          input.form-control.text-center(id='page' style='width:60px' type="text" value=data.page)
          .input-group-append
            button.btn.btn-outline-secondary(id='goPage' type="button" data-baseURL=baseURL
              onclick='goPage('+data.totalPages+')') Go
      //- 다음 버튼
      if data.hasNextPage
        li.page-item
          a.page-link(href=baseURL+"?page="+data.nextPage aria-label="Next")
            span(aria-hidden="true") Next
      else
        li.page-item.disabled
          a.page-link(href=baseURL+"?page="+data.nextPage aria-label="Next")
            span(aria-hidden="true") Next
  p.text-center * Total #{data.totalPages} pages

  include askLogin.pug
  script(src="/javascripts/board.js")
  script(src="/javascripts/pullToRefresh.js")