extends layout

block content
  if (!user)
    a(href="/login") 로그인
    br
    a(href="/register") 회원가입
  if (user)
    p 하이, #{user.username}
    a(href="/logout") 로그아웃
  table(class='table table-hover table-sm')
    thead
      tr
        th.d-none.d-sm-block(scope='col') 글번호
        th(scope='col') 제목
        th(scope='col') 아이디
        th.d-none.d-sm-block(scope='col') 등록시간
    tbody
      each val in data
        tr
          th.d-none.d-sm-block(scope='row') #{val.postNumber}
          td
            - var url = "/readPost?postNumber=" + val.postNumber
            a(href=url) #{val.title}
          td #{val.user}
          td.d-none.d-sm-block #{moment(val.createTime).format("YYYY-MM-DD HH:mm:ss")}
  a(href="/createPost") 글쓰기