extends layout

block content
  hr
  .col-auto
    strong #{data.title}
  hr
  .row.col
    .col-auto
      i.fas.fa-user-edit
      =' '
      |#{data.user}
      =' '
    .col-auto
      i.far.fa-clock
      =' ' 
      |#{moment(data.createTime).format("YYYY-MM-DD HH:mm:ss")}
    .col-auto
      i.far.fa-thumbs-up
      =' '
      span.text-danger #{data.like} 
      =' '
    .col-auto
      i.far.fa-thumbs-down 
      =' '
      span.text-primary #{data.disLike}
      =' '
    .col-auto
      i.far.fa-eye
      =' '
      |#{data.hits}
      =' '
    .col-auto
      i.far.fa-comment
      =' '
      |#{data.comments.length}
  hr
  .col-auto(style="white-space: pre-wrap;")
    =data.content
  hr  
  each val in data.comments
    - var time = moment(val.createTime).format("YYYY-MM-DD HH:mm:ss")
    div
      .col-auto.bg-light
        i.fas.fa-user-edit
        =' '
        =val.user
        =' '
        i.far.fa-clock
        =' ' 
        =time
      .col-auto
        =val.comment
  hr
  form(action="/createComment?postNumber=" + data.postNumber method="post")
    .input-group
      .input-group-prepend
        .input-group-text
          i.far.fa-comment
      input.form-control(type="text" name="comment" required)
  hr
  button.btn.btn-sm.btn-danger(id='like' type="button" onclick="likePost()"
    value=data.postNumber data-user=user)
    div
      i.far.fa-thumbs-up
  =' '
  button.btn.btn-sm.btn-primary(id='disLike' type="button" onclick="likePost(true)"
    value=data.postNumber data-user=user)
    div
      i.far.fa-thumbs-down 
  = ' '
  button.btn-sm.btn.btn-secondary(type="button" onclick="location.href='/'") 목록
  = ' '
  button.btn.btn-warning.btn-sm(type="button" onclick="location.href='/updatePost?postNumber=" + data.postNumber + "'") 수정
  = ' '
  button.btn.btn-danger.btn-sm(type="button" onclick="location.href='/deletePost?postNumber=" + data.postNumber + "'") 삭제

  script(src="javascripts/readPost.js")
