extends layout

block content
  .col.m-1 제목 : 
      =data.title
  .col.m-1 작성자 : 
      =data.user
  .col.m-1 작성시간 : 
    =moment(data.createTime).format("YYYY-MM-DD HH:mm:ss")
  .col.bg-success.text-white.m-1 본문
  .col.m-1=data.content
  .col.bg-info.text-white.m-1 댓글
  each val in data.comments
    - var time = moment(val.createTime).format("YYYY-MM-DD HH:mm:ss")
    .col.m-1= val.comment + ' - ' + val.user + ' (' + time + ')'

  form(action="/createComment?postNumber=" + data.postNumber method="post")
    div.form-group.form-inline
      input.form-control(type="text" name="comment" required)
      button.btn.btn-primary.m-1(type="submit" class="") 댓글등록
  hr
  button(type="button" class="btn btn-warning" 
    onclick="location.href='/updatePost?postNumber=" + data.postNumber + "'") 수정
  = ' '
  button(type="button" class="btn btn-danger"
    onclick="location.href='/deletePost?postNumber=" + data.postNumber + "'") 삭제
  = ' '
  button(type="button" class="btn btn-primary"
    onclick="location.href='/'") 목록