extends layout

block content
  //- 게시글 제목
  .row.bg-light.p-3.mb-3
    strong(style="white-space: pre-wrap;") #{data.title}
  //- 게시글 정보
  div(style='font-size: 14px;')
    .row
      .col-auto.row
        .col-auto
          //- 작성자
          i.fas.fa-user-edit
          =' '
          span.user #{data.user.nickname}
          =' '
        .col-auto
          i.far.fa-clock
          =' ' 
          |#{moment(data.createTime).format("YYYY-MM-DD HH:mm:ss")}
      .col-auto.row
        .col-auto
          i.far.fa-thumbs-up
          =' '
          span.text-danger #{data.like} 
          =' '
        .col-auto
          i.far.fa-thumbs-down 
          =' '
          span.text-primary #{data.disLike}
          =' '
        .col-auto
          i.far.fa-eye
          =' '
          |#{data.hits}
          =' '
        .col-auto
          i.far.fa-comment
          =' '
          |#{data.comments.length + countReply(data.comments)}
  hr.row
  //- 게시글 내용
  div(style="white-space: pre-wrap;")
    //- 첨부파일
    if(data.uploadFiles[0])
      .text-center(id="file")
        if(data.uploadFiles[0].video)
          video(id="resize" style="max-width: 100%;" loop controls autoplay playsinline webkit-playsinline)
            source(src=data.uploadFiles[0].resizeFileURL, type="video/mp4")
            |Your browser does not support the video tag.
        else
          img.border(id="resize" style="max-width:100%;" src=data.uploadFiles[0].resizeFileURL alt="" )
        br
        button.btn.btn-outline-secondary.btn-sm(type="button" id="original"
          value=data.uploadFiles[0].originalFileURL data-size=data.uploadFiles[0].originalFileSize)
    //- 본문
    |#{data.content}
  hr.row
  //- 이전글/다음글
  .list-group(style='font-size: 14px')
    if(next)
      a.list-group-item.list-group-item-action(href=baseURL + "/readPost?postNumber=" + next.postNumber)
        i.fas.fa-chevron-up
        =' '
        |다음글 : #{next.title}
    if(prev)
      a.list-group-item.list-group-item-action(href=baseURL + "/readPost?postNumber=" + prev.postNumber)
        i.fas.fa-chevron-down
        =' '
        |이전글 : #{prev.title}
  hr.row
  //- 댓글 출력
  each val in data.comments
    - var time = moment(val.createTime).format("YYYY-MM-DD HH:mm:ss")
    div(style='font-size: 14px')
      .border-bottom
        //- 댓글 정보
        .bg-light
          .row
            //- 작성자
            .col-auto.my-1
              i.fas.fa-user-edit
              =' '
              span.user #{val.user.nickname}
              =' '
            //- 시간
            .col-auto.my-1
              i.far.fa-clock
              =' ' 
              =time        
        //- 댓글 내용
        .row.col-auto.my-1
          =val.comment
        .row
          //- 로그인 하지 않으면 표시하지 않음
          if (user)
            //- 댓댓글 버튼
            .col-auto.my-1
              i.fas.fa-reply.replyComment(style="cursor: pointer;")
            //- 본인의 댓글일 때만 수정 삭제 가능
            if (val.user.nickname == user.nickname)
              //- 수정 버튼
              .col-auto.my-1
                i.far.fa-edit.updateComment(style="cursor: pointer;")
              //- 삭제 버튼
              .col-auto.my-1
                i.far.fa-trash-alt.deleteComment(style="cursor: pointer;"
                  data-postNumber=data.postNumber data-commentID=val._id data-baseURL=baseURL)
      //- 댓댓글 입력란
      form.d-none.replyCommentForm.createReply(action=baseURL + "/replyComment?postNumber=" + data.postNumber + "&commentID=" + val._id method="post")
        .input-group
          .input-group-prepend
            .input-group-text
              i.fas.fa-reply
          if(user)
            input.form-control(type="text" name='comment' required maxlength="400")
            .input-group-append
              button.btn.btn-outline-secondary.submitReply(type="submit") 등록
          else
            input.form-control(type="text" placeholder="로그인이 필요합니다." disabled )
            .input-group-append
              button.btn.btn-outline-secondary(type="button" onclick="location.href='/login'") 로그인
      //- 댓글 수정란
      form.d-none.updateCommentForm(action=baseURL + "/updateComment?postNumber=" + data.postNumber + "&commentID=" + val._id method="post")
        .input-group
          .input-group-prepend
            .input-group-text
              i.far.fa-edit
          if(user)
            input.form-control(type="text" name='comment' required maxlength="400" value=val.comment)
            .input-group-append
              button.btn.btn-outline-secondary(type="submit") 수정
          else
            input.form-control(type="text" placeholder="로그인이 필요합니다." disabled )
            .input-group-append
              button.btn.btn-outline-secondary(type="button" onclick="location.href='/login'") 로그인
      //- 댓댓글 출력
      each reply in val.comments
        - var time = moment(reply.createTime).format("YYYY-MM-DD HH:mm:ss")
        .border-bottom
          .row    
            i.fab.fa-replyd.col-auto.my-1.text-info(style='font-size: 20px')
            =' '
            .col(style='font-size: 14px')
              .row
                //- 작성자            
                .col-auto.my-1.p-0
                  i.fas.fa-user-edit
                  =' '
                  span.user #{reply.user.nickname}
                  =' '
                //- 시간
                .col-auto.my-1
                  i.far.fa-clock
                  =' ' 
                  =time
              //- 댓댓글 내용
              .row            
                .col-auto.my-1.p-0
                  =reply.comment
              .row
                //- 로그인 하지 않으면 표시하지 않음
                if (user)            
                  //- 본인의 댓글일 때만 수정 삭제 가능
                  if (reply.user.nickname == user.nickname)
                    //- 댓댓글 수정 버튼
                    .col-auto.my-1.pl-0
                      i.far.fa-edit.updateReply(style="cursor: pointer;")
                    //- 댓댓글 삭제 버튼
                    .col-auto.my-1
                      i.far.fa-trash-alt.deleteReply(style="cursor: pointer;"                      
                        data-postNumber=data.postNumber data-commentID=val._id data-replyID=reply._id
                        data-baseURL=baseURL)
          //- 댓댓글 수정란
          form.d-none(action=baseURL + "/updateReply?postNumber=" + data.postNumber + '&commentID=' + val._id + "&replyID=" + reply._id method="post")
            .input-group
              .input-group-prepend
                .input-group-text
                  i.far.fa-edit
              if(user)
                input.form-control(type="text" name='comment' required maxlength="400" value=reply.comment)
                .input-group-append
                  button.btn.btn-outline-secondary(type="submit") 수정
              else
                input.form-control(type="text" placeholder="로그인이 필요합니다." disabled )
                .input-group-append
                  button.btn.btn-outline-secondary(type="button" onclick="location.href='/login'") 로그인
  hr.row
  //- 댓글 입력란
  form(id='createComment' action=baseURL + "/createComment?postNumber=" + data.postNumber method="post")
    .input-group
      .input-group-prepend
        .input-group-text
          i.far.fa-comment
      if(user)
        input.form-control(type="text" name='comment' required maxlength="400")
        .input-group-append
          button.btn.btn-outline-secondary(id='submitComment' type="submit") 등록
      else
        input.form-control(type="text" placeholder="로그인이 필요합니다." disabled )
        .input-group-append
          button.btn.btn-outline-secondary(type="button" onclick="location.href='/login'") 로그인
  hr.row
  //- 추천 버튼
  button.btn.btn-danger(id='like' type="button" onclick="likePost()"
    value=data.postNumber data-user=user data-baseURL=baseURL)
    div
      i.far.fa-thumbs-up
  =' '
  //- 반대 버튼
  button.btn.btn-primary(id='disLike' type="button" onclick="likePost(true)"
    value=data.postNumber data-user=user data-baseURL=baseURL)
    div
      i.far.fa-thumbs-down 
  = ' '
  button.btn.btn-secondary(type="button" onclick="location.href='" + baseURL + "'") 목록
  = ' '
  //- 게시글 작성자와 현재 접속자가 같으면 수정/삭제 버튼을 생성
  if(user)
    if(data.user.nickname == user.nickname)
      button.btn.btn-warning(type="button" onclick="location.href='" + baseURL + "/updatePost?postNumber=" + data.postNumber + "'") 수정
      = ' '
      button.btn.btn-danger(type="button" data-toggle="modal" data-target="#deleteModal") 삭제
      //- 부트스트랩에서 제공하는 modal 소스
      //- 아직 attribute 하나 하나 파악하지 못함
      //- 삭제 경고 모달
      .modal.fade(id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
          .modal-content
            .modal-header
              h5.text-danger.modal-title(id="deleteModalTitle") 경고
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
              strong 정말 삭제하시겠읍니까?
            .modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal") 취소
              button.btn.btn-danger(type="button" onclick="location.href='"+ baseURL + "/deletePost?postNumber=" + data.postNumber + "'") 삭제  
  //- 로그인 모달 포함
  include askLogin.pug
  script(src="/javascripts/common.js")
  script(src="/javascripts/readPost.js")
  script(src="/javascripts/pullToRefresh.js")